@import '_utils';

html {
	height: 100%;
	padding: 0;
}

body {
	color: #400;
	background: #ddd;
	font-size: 100%;
	margin: 0;
	min-height: 100%;
}

#map {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

nav {
	z-index: 2;
}

a {
	text-decoration: none;
}

.route-list {
	position: absolute;
	bottom: 1rem;
	left: 1rem;
	background-color: white;
	box-shadow: 2px 2px 1px fade(black, 20%);
}

.route-list__item a {
	padding: .25rem 1rem;
	display: block;
}

.route-list__item a:hover { 
	background-color: #eee;
}

.route-list__item a.active {
	background-color: #ddd;
}